<div class="container" *ngIf="skill" style="background-color: #a1b5cb;">
    <div class="row">
        <div>
            <legend class="text-center header">Editar Skills</legend>
            <br>
            <br>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de la Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="porcentaje">Ingrese el porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <br>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
            <br>
        </div>
    </div>
</div>