<div class="row">
    <h1 class="centrado">Hard & Soft skills</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newskill" *ngIf="isLogged">Nueva Skill</button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 centrado" *ngFor="let skill of skill">
        <circle-progress
            [title]="(skill.nombre)"
            [percent]="(skill.porcentaje)" 
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]= "'#66a5e9c0'"
            [innerStrokeColor]="'#053f7e'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-light" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>
<div class="salto">
    <br>
</div>