<div class="container" style="background-color: #a1b5cb;">
    <div class="row">
        <div>
            <legend class="text-center header">Nueva Skill</legend>
            <br>
            <br>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nueva Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <br>
                <button class="btn btn-primary">
                    Agregar skill
                </button>
            </form>
            <br>
        </div>
    </div>
</div>